.j_select {
	margin:0;padding:0;cursor:pointer;position: relative;background:#fff;display:inline-block;
}
.j_select .current_select {
	margin:0;padding:0;height:34px;line-height:34px;text-indent:1em;border:1px solid #e5e5e5;
	outline:none;
	font-size: 14px;
	color: #333;
}
.j_select .current_select .select_icon {
	margin:0;padding:0;position:absolute;right:12px;top:17px;
	display: block; width: 13px; height: 7px;
	background: url("../img/arrows13x7.png") no-repeat;
}
.j_select ul {
	margin:0;padding:0;border:1px solid #eee;border-radius:2px;display:none; background:#fff;
	position:absolute;width:calc(100% - 2px) !important;overflow:auto;outline:none;z-index:99 !important;
}
.j_select ul li {
	margin:0;padding:0;line-height:30px;text-indent:1em;list-style:none;
	color: #9a98b8;
	font-size: 14px;
}
.j_select ul li:hover {
	background:#e2e2e2;color:#333;cursor:default;
}
.j_select ul li.current_item {
	background:#e2e2e2;color:#333;cursor:default;
}
