body { min-width: 320px; max-width: 640px; margin: 0 auto; background-color: #fff; padding-bottom: 6rem; }
.main .mt{height: 4.4rem; padding: 0 6rem 0 4.5rem; position: relative; box-shadow: 0 6px 6px 0 rgba(0,0,0,0.04); background: url("../images/sousuo.png") no-repeat 2rem center / 1.5rem auto;}
.main .mt .cancel{line-height: 4.4rem; position: absolute; color: #2A2A2F; font-size: 1.6rem; right: 2rem; top:0; }
.main .mt input{display: block; height: 4.4rem; line-height: 4.4rem; width: 100%; border: none; color: #2A2A2F; font-size: 1.6rem; }
.main .mc{padding:0 2rem; }
.main .mc .item{padding: 1.8rem 0; border-bottom: 1px solid #E5E5E5;}
.main .mc .item p{display: block; height: 2.2rem; line-height: 2.2rem; color: #A1B0B8; font-size: 1.6rem;}
.main .mc .item span{display: block;  line-height: 2rem; color: #A1B0B8; font-size: 1.4rem;}
.main .mc .item em{color: #333;}

