/* CSS Document */
*{box-sizing: border-box;}
body{width: 100%; height: 100%; min-width: 320px; max-width: 640px; margin: 0 auto; background-color: #fff; -webkit-text-size-adjust:100%!important;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;  padding: 0;  border: 0 none;  vertical-align: baseline;  }
body,button,input,select,textarea { font-family:"黑体-简",tahoma,arial,"Hiragino Sans GB","微软雅黑", "宋体", sans-serif;}
h1,h2,h3,h4,h5,h6,textarea{font-weight:normal; font-size: 1.2rem;}
b,textarea{font-style:normal; font-weight:400;}
table{ border-collapse:collapse; border-spacing:0;}/* 去掉 table cell 的边距并让其边重合 */
pre{white-space: pre-wrap;word-wrap: break-word;}/* pre 可以换行*/
img{border:none; vertical-align:middle;}
input,select,textarea {font-size:100%;}
del{text-decoration:line-through;}/* 一致的 del 样式 */
a{color:#666;text-decoration:none;}
a:active,a:focus{-moz-outline:none;outline:none;}/* 去掉a链接点击过后的虚线边框 */
ul,li,ol{ list-style:none;}
input{font-family:inherit; margin: 0; padding: 0; border: none;outline: none;}
th {text-align:inherit;}/* ie bug：th 不继承 text-align */
iframe{display:block;}/* ie6 7 8(q) bug 显示为行内表现 */
em,i{font-style: normal;}
a,button,input,optgroup,select,textarea { -webkit-tap-highlight-color: rgba(0,0,0,0); }/*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/

.elli{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}/* 单行多出省略号.... */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1; /* for ie6 & ie7 */}






