<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath*:/spring/applicationContext-deploy.xml" />
    <import resource="classpath*:/spring/applicationContext-project.xml" />
    <import resource="classpath*:/spring/applicationContext-resource.xml" />
    <import resource="classpath*:/spring/applicationContext-repository.xml" />
    <import resource="classpath*:/spring/applicationContext-schedule.xml" />
    <!--<import resource="classpath*:/spring/applicationContext-redis.xml" />-->
  <!--  <import resource="classpath*:/spring/applicationContext-mq.xml" />-->
</beans>