body { min-width: 320px; max-width: 640px; margin: 0 auto; background-color: #fff; padding-bottom: 6rem; }

.we-chat-user-info .mt{height:12rem; padding: 3rem 2rem 0 2rem; position: relative; overflow: hidden;}
.we-chat-user-info .mt p{display: block; width: 20rem; height: 4.5rem; line-height: 4.5rem; color: #444; font-size: 2.1rem;}
.we-chat-user-info .mt a{color: #444A50; font-size: 1.3rem; padding-top: 0.2rem;}
.we-chat-user-info .mt .pic{width: 6.5rem; height: 6.5rem; border-radius: 50%; position: absolute; right:2rem; top:3.8rem; overflow: hidden;}
.we-chat-user-info .mt .pic img{width: 6.5rem; height: 6.5rem;}

.we-chat-user-info .mc .item{display: block; height: 6rem; padding: 1rem 2rem 2rem 2rem; border-bottom:1px solid #E5E5E5;}
.we-chat-user-info .mc .item a{display: block; line-height: 3.5rem; overflow: hidden;}
.we-chat-user-info .mc .item span{float: left; color: #444A50; font-size: 1.6rem;}
.we-chat-user-info .mc .item i{float: right; display: block; width: 15rem; text-align: right; color: #90A4AE; font-size: 1.3rem; overflow: hidden;}










